
useDynLib(darksoulsarmor, .registration=TRUE)
import(data.table)
import(Rcpp)
importFrom(stats, approxfun, median)

export(get.all.armor.combos)
export(get.optimal.armor.combos)
export(get.armor.tradeoffs)
export(armor.application)
